<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SpeedRunningHub</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <h1>SpeedRunningHub</h1>
        <!-- Menu, etc. -->
    </header>

    <main role="main" class="container">
        @RenderBody()  <!-- Esta linha é obrigatória -->
    </main>

    <footer>
        <p>&copy; 2025 - SpeedRunningHub</p>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
