<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SpeedRunningHub</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <h1>SpeedRunningHub</h1>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Início</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Jogos</a>
                    <div class="dropdown-content">
                        <a asp-controller="Home" asp-action="SuperMario64">Super Mario 64</a>
                        <a asp-controller="Home" asp-action="Minecraft">Minecraft</a>
                        <a asp-controller="Games" asp-action="Celeste">Celeste</a>
                        <a asp-controller="Games" asp-action="HollowKnight">Hollow Knight</a>
                        <a asp-controller="Games" asp-action="DarkSouls">Dark Souls</a>
                    </div>
                </li>
                <li><a asp-controller="Home" asp-action="About">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()  <!-- Esta linha é obrigatória -->
    </main>


    <script src="~/js/scripts.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
