@{
    ViewData["Title"] = "About";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="site.css">
    <style>
        body {
            color: white;
        }
    </style>
</head>

        <section id="about">
            <h2>Sobre SpeedRunningHub</h2>
            <p>Trabalho realizado no âmbito da disciplina de Desenvolvimento WEB do curso de Engenharia Informática no
                ano letivo de 2024/2025 pelos alunos: </p>

            <ul>
                <li><strong>Diogo Cardeira</strong>- Nº24877</li>
                <li><strong>João Maia</strong>- Nº24728</li>
            </ul>


        </section>


