@{
    ViewData["Title"] = "About";
}


<head>
    <!-- Configurações básicas da página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    
    <!-- Folha de  estilos principal -->
    <link rel="stylesheet" href="site.css">
    
    <!-- Estilo para texto branco -->
    <style>
            body {
                color: white;
            }
    </style>
</head>
    
  <!-- Secção principal 'Sobre' -->
   <section id="about">   <!-- Descrição do trabalho -->
    <p>Trabalho realizado no âmbito da disciplina de Desenvolvimento WEB do curso de Engenharia Informática no
        ano letivo de 2024/2025 pelos alunos: </p>

    <!-- Lista de alunos responsáveis -->
    <ul>
        <li><strong>Diogo Cardeira</strong>- Nº24877</li>
        <li><strong>João Maia</strong>- Nº24728</li>
    </ul>
</section>