@{
    ViewData["Title"] = "Minecraft";
}
<div class="banner">
    <img src="/images/minecraft-banner.jpg" alt="Minecraft Banner">
</div>
<main>
    <section id="game-info">
    <h2>Minecraft</h2>
    <p>Minecraft é um jogo sandbox desenvolvido pela Mojang Studios em 2011, originalmente lançado em 2009. No Minecraft,
        os jogadores exploram um mundo tridimensional gerado proceduralmente com terrenos virtualmente infinitos,
        composto por blocos pixelados. Os jogadores podem descobrir e extrair recursos naturais, criar ferramentas e
        objetos, e construir estruturas, obras de terraplanagem e máquinas.</p>
        
    <h3>Técnicas de Speedrun</h3>
    <ul>
        <li>Movimento</li>
        <p>Saltar enquanto se corre (conhecido como "bunny hopping") é a forma mais rápida de movimento em circunstâncias normais.
            Se tiveres um efeito de velocidade 2 (ou superior), saltar torna-se mais lento.
            Qualquer efeito de salto também tornará os saltos mais lentos.
            Se estiveres num corredor com 2 blocos de altura, salta o mais rápido possível para obteres um impulso extra.</p>
            
        <li>Planeamento de Rota</li>
        <p>Ao planear uma rota, considera o seguinte:
            Objetivos do mapa
            Regras do mapa (alguns mapas permitem portais do Nether, como Sunburn Islands e Pantheon)
            Comida
            Itens que ajudem a limpar áreas mais rápido (pérolas de ender, escadas, etc.)
            Itens que aumentem a tua velocidade (poções de velocidade, equipamento com bónus de velocidade)
            Se as áreas estiverem expostas ao céu, considera também a hora do dia no jogo
            Dependendo do mapa, pode ser melhor deixar áreas iniciais para mais tarde, especialmente se puderes encontrar
            equipamento em áreas posteriores que acelere ou facilite o progresso. No entanto, deves avaliar se vale a pena
            o tempo gasto a voltar atrás.
            Praticar a rota usando dificuldade pacífica ou cópias de segurança do mapa é útil, mas lembra-te que não podes
            fazer isto em tentativas oficiais, por isso planeia as tuas estratégias em conformidade.</p>
            
        <li>Combate</li>
        <p>Na maioria dos casos, é melhor evitar os inimigos em vez de os enfrentar.
            Gerador de monstros parcialmente desativado com 1 fonte de luz
            Deves criar um escudo e agachar-te para o ativar. Um escudo bloqueia ataques de outros jogadores ou mobs.
            Gerador de monstros completamente desativado com 2 fontes de luz
            Causarás um golpe crítico (150% de dano corpo-a-corpo) enquanto estiveres a cair. Se jogares na versão 1.9,
            lembra-te que não podes atacar repetidamente com cliques rápidos.
            Arcos com efeito de repulsão podem impulsionar-te para a frente se disparares suficientemente rápido.
            Os geradores de monstros podem ser completamente desativados colocando 2 tochas ou blocos de pedra luminosa.
            Colocar apenas 1 fonte de luz num gerador só previne a aparição de monstros numa área pequena.</p>
    </ul>
</section>
        <h3>Tabela de Recordes - Any% Glitchless Random Seed</h3>
        <table id="speedrun-table">
            <thead>
                <tr>
                    <th>Posição</th>
                    <th>Tempo</th>
                    <th>Speedrunner</th>
                    <th>Versão</th>
                    <th>Vídeo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>7m:01s:494ms</td>
                    <td><span class="flag-icon">&#127470; &#127481;</span> <a>drip120</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a href="https://www.youtube.com/watch?v=E3t24Urba6Y">Youtube</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>7m:22s:283ms</td>
                    <td><span class="flag-icon">&#127464; &#127462;</span><a> NoHacsJustRoblox</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a
                            href="https://www.youtube.com/watch?v=cF1qFdtjdMQ&embeds_referring_euri=https%3A%2F%2Fwww.speedrun.com%2F&source_ve_path=OTY3MTQ&feature=emb_imp_woyt">Youtube</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>7m:23s:784ms</td>
                    <td><span class="flag-icon">&#127475; &#127476;</span><a> skycrab1</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a
                            href="https://www.youtube.com/watch?v=cpfWXsEWxOc&embeds_referring_euri=https%3A%2F%2Fwww.speedrun.com%2F&source_ve_path=OTY3MTQ&feature=emb_imp_woyt">Youtube</a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>7m:26s:256ms</td>
                    <td><span class="flag-icon">&#127482; &#127468;</span><a> NoFear1337</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a href="https://youtu.be/lKntf3FLFWE">Youtube</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>7m:30s:439ms</td>
                    <td><span class="flag-icon">&#x1F1FA;&#x1F1F8;</span><a> doogile</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a href="https://youtu.be/ClDvxk9E444">Youtube</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>7m:45s:828ms</td>
                    <td><a> zylenox</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a href="https://youtu.be/eFbXCm4VRyg">Youtube</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>8m:00s:657ms</td>
                    <td><span class="flag-icon">&#127480; &#127466;</span><a> ANJOUU</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a href="https://youtu.be/oQbWUurIVmY">Youtube</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>8m:00s:927ms</td>
                    <td><span class="flag-icon">&#x1F1FA;&#x1F1F8;</span><a> meebie</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a href="https://youtu.be/PUuvT8h96hI">Youtube</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>8m:01s:217ms</td>
                    <td><span class="flag-icon">&#x1F1FA;&#x1F1F8;</span><a> thecamo6</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a href="https://youtu.be/xmLqyeOiE-Q">Youtube</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>8m:03s:241ms</td>
                    <td><span class="flag-icon">&#127468; &#127463;</span><a> Priffin</a></td>
                    <td><a>1.16.1</a></td>
                    <td><a href="https://youtu.be/_hJ-4IjiecY">Youtube</a></td>
                </tr>
            </tbody>
        </table>
        <h3>Galeria de Imagens</h3>
        <div id="gallery2" class="gallery"></div>
    </section>
</main>
<script src="/js/scripts.js"></script>
