@{
    ViewData["Title"] = "Super Mario 64";
}
<div class="banner">
    <img src="/images/sm64_banner.jpg" alt="Super Mario 64 Banner">
</div>
<main>
    <section id="game-info">
        <h2>Super Mario 64</h2>
        <p>Super Mario 64 é um jogo de plataformas lançado em 1996 para a Nintendo 64 e o primeiro jogo da série Super
            Mario com jogabilidade em 3D. Os jogadores controlam o Mario enquanto explora o castelo da Princesa Peach,
            com o objetivo de a resgatar das garras do Bowser.</p>

        <h3>Técnicas de Speedrun</h3>
        <ul>
            <li>Lakitu Skip</li>
            <p>O primeiro glitch ocorre segundos após o início do jogo. Quando o Mario sai do cano verde e é instruído a
                entrar no castelo, se permanecer no lado esquerdo do corrimão da ponte, consegue evitar a segunda cena
                de diálogo com o Lakitu (que explica o funcionamento da câmara). Esta técnica poupa cerca de 10 segundos
                - crucial para speedrunners, especialmente nesta fase inicial.</p>

            <li>BLJ (Backward Long Jump)</li>
            <p>O Salto Longo para Trás é uma das técnicas mais icónicas do Mario 64. Como os programadores não limitaram
                a velocidade de movimento para trás, ao executar um salto longo em locais específicos com uma sequência
                precisa de comandos, o Mario ganha velocidade infinita. Esta técnica revolucionária permite aceder a
                áreas inacessíveis e saltar secções inteiras do jogo.</p>

            <li>MIPS Clip</li>
            <p>MIPS é o coelho que aparece na cave do castelo após coletares 15 estrelas. Além de dar uma estrela quando
                capturado, é crucial para o speedrun de 16 estrelas. Usando o MIPS, os jogadores conseguem atravessar
                portas e aceder à chave do Bowser muito antes do previsto, ignorando completamente a porta que requer 30
                estrelas.</p>
        </ul>
    </section>
    <h3>Tabela de Recordes - 120 Estrelas</h3>
    <table id="speedrun-table">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Tempo</th>
                <th>Speedrunner</th>
                <th>Plataforma</th>
                <th>Vídeo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1h:36m:21s</td>
                <td><span class="flag-icon">&#x1F1FA;&#x1F1F8;</span> <a>Weegee</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a
                        href="https://www.twitch.tv/videos/2034126985?t=0h0m1s&tt_content=twitch_logo&tt_medium=embed">Twitch</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>1h:36m:29s</td>
                <td><span class="flag-icon">&#127471;&#127477;</span><a> Karin</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a
                        href="https://www.youtube.com/watch?v=C4X9QBEoDRw&embeds_referring_euri=https%3A%2F%2Fwww.speedrun.com%2F&source_ve_path=OTY3MTQ&feature=emb_imp_woyt">Youtube</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>1h:36m:44s</td>
                <td><span class="flag-icon">&#127471;&#127477;</span><a> Parsee02</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>1h:36m:44s</td>
                <td><span class="flag-icon">&#127466;&#127480;</span><a> cheese</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a href="https://www.youtube.com/watch?v=GLv3zsSFXHQ">Youtube</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>1h:37m:03s</td>
                <td><a> marlene</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a href="https://www.twitch.tv/videos/1957391583?t=0h0m1s">Twitch</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>1h:37m:12s</td>
                <td><span class="flag-icon">&#x1F1FA;&#x1F1F8;</span><a> simply</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a
                        href="https://www.twitch.tv/videos/2137656079?t=0h0m1s&tt_content=twitch_logo&tt_medium=embed">Twitch</a>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>1h:37m:17s</td>
                <td><span class="flag-icon">&#x1F1FA;&#x1F1F8;</span><a> Liam</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a
                        href="https://www.youtube.com/watch?v=fKn_LvZ5q7Y&embeds_referring_euri=https%3A%2F%2Fwww.speedrun.com%2F&source_ve_path=OTY3MTQ&feature=emb_imp_woyt">Youtube</a>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>1h:37m:29s</td>
                <td><span class="flag-icon">&#127471;&#127477;</span><a> ikori_o</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a
                        href="https://www.twitch.tv/videos/2171118660?t=0h0m1s&tt_content=twitch_logo&tt_medium=embed">Twitch</a>
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>1h:37m:31s</td>
                <td><span class="flag-icon">&#x1F1FA;&#x1F1F8;</span><a> puncayshun</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a
                        href="https://www.youtube.com/watch?v=1xgGpwZov7U&embeds_referring_euri=https%3A%2F%2Fwww.speedrun.com%2F&source_ve_path=OTY3MTQ&feature=emb_imp_woyt">Youtube</a>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>1h:37m:38s</td>
                <td><span class="flag-icon">&#x1F1FA;&#x1F1F8;</span><a> BeastAssassin67</a></td>
                <td><span class="flag-icon">&#127471;&#127477;</span> <a>N64</a></td>
                <td><a
                        href="https://www.twitch.tv/videos/2105639808?t=0h0m1s&tt_content=twitch_logo&tt_medium=embed">Twitch</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>Galeria de Imagens</h3>
    <div id="gallery" class="gallery">
    </div>
    </section>
</main>
<script src="/js/scripts.js"></script>
